.container {
  display: flex;
  overflow: hidden;
  border-radius: 6px;
}

.input {
  width: 100%;
  outline: unset;
  border: unset;
  padding: 4px 14px;
  color: black;
}

.input::placeholder {
  color: #6b7280;
  font-size: 14px;
}

.btn {
  padding: 0.5rem 1rem;
  color: white;
  flex-shrink: 0;
  border: unset;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  background-color: #0284c7;
}

.btn:hover {
  background-color: #0ea5e9;
}
